{{!-- Consolidated router logic using withHash to avoid重复条件 --}}
{{#withHash hasRouter=(or (eq @config.router 'react-router') (eq @config.router 'tanstack-router')) isRR=(eq @config.router 'react-router')}}
  {{#if hasRouter}}
    {{#if isRR}}
import { NavLink, Outlet } from 'react-router-dom'
    {{else}}
import { Link, Outlet } from '@tanstack/react-router'
    {{/if}}
  {{else}}
import Home from './home'
  {{/if}}
{{/withHash}}

{{#withHash hasRouter=(or (eq @config.router 'react-router') (eq @config.router 'tanstack-router'))}}
export default function App() {
  return (
    <div id="app">
      <main className="container">
        {{#if hasRouter}}
          {{> react/router-links}}
        {{/if}}
        <section className="content">
          {{#if hasRouter}}
            <Outlet />
          {{else}}
            <Home />
          {{/if}}
        </section>
      </main>
    </div>
  )
}
{{/withHash}}
