import Counter from '../components/Counter'

export default function Home() {
  return (
    <div className="home">
      <section className="block">
        <h2>counter:</h2>
        <Counter />
      </section>
    </div>
  )
}
