<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/moon-star.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{@config.name}}</title>
  </head>
  <body>
    <div id="root"></div>
    {{#if (eq @config.type 'react')}}
      <script type="module" src="/src/main.{{#if (eq @config.language 'typescript')}}tsx{{else}}jsx{{/if}}"></script>
    {{else}}
      <script type="module" src="/src/main.{{#if (eq @config.language 'typescript')}}ts{{else}}js{{/if}}"></script>
    {{/if}}
  </body>
</html>
