{{#if (eq @config.router 'react-router')}}
<nav className="nav">
  <NavLink to="/" className={({ isActive }) => `nav-link ${isActive ? 'router-link-active' : ''}`}>Home</NavLink>
  <NavLink to="/about" className={({ isActive }) => `nav-link ${isActive ? 'router-link-active' : ''}`}>About</NavLink>
</nav>
{{else if (eq @config.router 'tanstack-router')}}
<nav className="nav">
  <Link to="/" className="nav-link" activeProps=\{{ className: 'router-link-active nav-link' }}>Home</Link>
  <Link to="/about" className="nav-link" activeProps=\{{ className: 'router-link-active nav-link' }}>About</Link>
</nav>
{{/if}}
